.container {
	width: 800px;
	margin: 0px auto;
}

@media (max-width: 800px) {
	.container {
		width: 700px
	}
}

@media (max-width: 500px) {
	.container {
		width: 450px;
	}
}

@media (max-width: 650px) {
	.container {
		width: 575px;
	}
}

