.list {
	list-style: none;
	padding-left: 0px;
	text-align: center;
}

.list li {
	display: inline;
	padding: 25px;
}

.list i {
	font-size: 75px;
}

.list i:hover {
	color: lightgrey;
}